*, body{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    padding-inline: 8rem;
    font-size: large;
    --background-color: #fffff7;
    --section-color: #fffae3;
    --accent-color: #ff7834;
    --c2: #69d2e7;
    --shadow-color: rgb(167, 167, 167);
    --nav-border: rgb(186, 186, 186);
    --card-color: rgb(222, 215, 187);
    --text-color: #000000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}
body.dark{
    --background-color: rgb(40, 18, 4);
    --section-color: #100901;
    --accent-color: #ff7834;
    --text-shadow: -1px -1px 0 #120909, 1px -1px 0 #120909, -1px 1px 0 #120909, 1px 1px 0 #120909;
    --c2: #e16d1a;
    --shadow-color: rgb(0, 0, 0);
    --nav-border: rgb(14, 14, 14);
    --card-color: #773400;
    --text-color: #fffff7;
    color:#fffff7
}
nav{
    position: fixed;
    background-color: var(--background-color);
    border-bottom: var(--nav-border) 1px solid;
    box-shadow: 1px 1px 4px var(--shadow-color);
    width: 100vw;
    padding-block: 1rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
nav img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.nav-links{
    align-items: center;
    padding-right: 2rem;
}
nav h2{
    padding-left: 2rem;
}

nav ul{
    --_gap: 1.1rem;
    gap: var(--_gap);
    display: flex;
    list-style: none;
}

nav li{
    padding-inline: calc(var(--_gap)/2);
    position: relative;
    overflow: hidden;
    padding: 6px;
}



.active{
    --_width: 1;
}
.active::after + li{
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
}

nav li:has(+.active){
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
}

a{
    text-decoration: none;
    color: inherit;
}
.header{
    color: #120909;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    background-color: var(--section-color);
    width: 100vw; 
    height: 100vh;
}
.header-container{
    padding-inline: 8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header-text{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 3rem;
    width: 50%;
    padding-top: 8rem;
    position: relative;
}
.header-text h1{
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
}
.header-text h1::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: black;
    transform: translateY(-50%);
    animation: grow-border 2.2s ease-out forwards;
}


.header-container svg{
    place-self: center;
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    bottom: 3rem;
    animation: slideIn 1.5s ease-in-out forwards;
}
.header-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 2rem;
    height: 100vh;
    margin-top: auto;
}
.header-links a img{
    width: 3rem;
    height: 3rem;
    opacity: 0;
    background-color: white;
    border-radius: 50%;
    animation: slideIn 1.5s ease-in-out forwards;
    
}
.linjen{
    width:2px;
    background-color: var(--accent-color);
    height: 100%;
}

button{
    width: 10rem;
    padding: 1rem 3rem;
    background-color: var(--accent-color);
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover{
    background-color: #fd874d;
    transform: scale(1.05);
}
.header img{
    width: 30rem;
    height: 22rem;
}
.second-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13rem;
    margin-top: 5rem;
}
.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-inline: 8rem;
}
.project-section{
    margin-top: 5rem;
    background-color: var(--section-color);
    width: 100vw;
    padding-bottom: 5rem;
}
.project{
    padding: 1rem;
    border: 1px solid var(--shadow-color);
    background-color: var(--card-color);
    border-radius: 4px;
    font-size: large;
    box-shadow: 1px 1px 4px var(--shadow-color);
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.projectText{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 3rem;
}
.links{
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    width: 100%;
    align-self: start;
}
#link_text{
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: underline;
}
.link-container{
    width: 100%;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    padding-inline: 2rem;
}
.technologies{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-bottom: 5rem;
}
.technologies-list{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.technologies-list li{
    list-style: none;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
    color: var(--accent-color);
}
.technologies-list li span{
    position: relative;
    line-height: 90px;
}
.technologies-list li span::after{
    content: '';
    position: absolute;
    
    left: 0;
    width: 100%;
    height: 5rem;
    background: var(--background-color);
    border-left: 2px solid var(--text-color);
    animation: typing 3s steps(10) infinite,
                blinking 1.1s steps(1) infinite;
}

.school-projects-section{
    width: 100vw;
}
.school-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
.tech-stack{
    border-top: 1px solid var(--shadow-color);
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 1vw, 2rem);
    max-width: 100%;
    background-color: #b8b8b853;
    border-radius: 3px;
    padding: 1rem;
}
.tech-stack img{
    width: clamp(30px, 3vw, 2.6rem); /* Minst 30px, max 80px, och skalar med viewport */
    height: clamp(30px, 3vw, 2.6rem);
    background-color: white;
    border-radius: 20%;
    box-shadow: 1px 1px 4px black;
}
.links{
    display: flex;
    gap: 1rem;
}
.links img{
    width: 2rem;
    height: 2rem;
}
.technology-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}
.technology{
    color: var(--text-color);
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--card-color);
    border-radius: 3px;
    opacity: 0;
    animation: fadeIn 1s;
  transform: translateY(100px);
  transition: opacity 0.3s ease, transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.technology.visible{
    opacity: 1;
  transform: translateY(0);
}

.technology img{
    width: 4rem;
    height: 4rem;
}

.contactForm{
    margin-top: 10rem;
    padding-top: 5rem;
    height: 90vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--section-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.contactForm #text-highlight{
   font-size: 2rem;
}
.contactForm h2{
    text-align: center;
    font-size: 3rem;
    grid-column: 1/3;
}
.contact-information{
    padding-right: 8rem;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: start;
    place-self: start end;
    gap: 1rem;
}
form{
    padding-left: 8rem;
    grid-column: 1/2;
    place-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
form input,textarea{
    color: white;
    text-decoration: none;
    width: 20rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(32, 18, 9);
}
#text-highlight, #projectText{
    color: var(--accent-color);
    font-size: 3rem;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes blinking{
    0%, 100%{
        border-color: transparent;
    }
    50%{
        border-color: var(--text-color);
    }
}
@keyframes typing{
    40%, 60%{
        left: calc(100% + 0px);
    }
    100%{
        left: 0;   
    }
}
@keyframes slide {
    0% {
        top: 0;
    }
    100% {
        top: -270px;
    }
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-700px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes grow-border {
    0% {
        width: 0;
        left: 50%; /* Börja från mitten */
    }
    100% {
        width: 100%;
        left: 0; /* Väx från mitten till hela bredden */
    }
}
.header-links a:nth-child(1) img {
    animation-delay: 0.6s; 
}
.header-links a:nth-child(2) img {
    animation-delay: 0.4s; 
}
.header-links a:nth-child(3) img {
    animation-delay: 0.2s; 
}

@media (max-width: 860px) and (min-width: 481px) {
    body {
        padding-inline: 2rem; /* Minska padding */
        font-size: medium; /* Minska textstorlek */
    }
    
    nav {
        flex-direction: column; /* Låt nav bli vertikalt */
        padding-block: 0.5rem;
    }

    nav img {
        width: 1.5rem; /* Minska storleken på ikonerna */
        height: 1.5rem;
    }
    .header{
        height: 80vh;
        overflow: hidden;

    }

    .header-container {
        padding-inline: 2rem; /* Minska padding */
        padding-top: 10rem;
    }
    .header-container svg{
        top: 25rem;
    }

    .header-text {
        width: 50%; /* Gör texten full bredd */
        padding-top: 3rem; /* Justera padding */
    }

    .header img {
        width: 20rem; /* Justera storlek på header-bild */
        height: auto;
    }

    .projects {
        padding-inline: 2rem; /* Justera padding */
        gap: 1rem; /* Minska gapet */
    }

    .project {
        width: 100%; /* Gör projekten full bredd */
    }

    .contactForm {
        grid-template-columns: 1fr; /* Gör formuläret en kolumn */
        width: 100vw;
    }
    .contactForm h2{
        grid-column: 1;
    }

    .contact-information{
        padding-right: 1rem;
    }
    form {
        padding-left: 2rem;
    }

    .tech-stack {
        display: flex; 
        gap:4rem;
    }

    .header-links {
        gap: 0.5rem; /* Minska gapet mellan ikoner */
    }

    .header-links a img {
        width: 2rem; /* Minska storleken på ikoner */
        height: 2rem;
    }
    .header-text h1::before{
        top: 40%;
    }
}
@media (min-width: 480px){
    nav li::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: var(--accent-color);
        box-shadow: 3px 3px 10px var(--shadow-color);
        z-index: -1;
        border-radius: 4px;
        scale: 0 1;
    
        translate: var(--_translate, 0);
        scale: var(--_width, 0) 1;
        transition: 
            scale 300ms var(--_scale-delay, 0ms),
            translate 500ms var(--_translate-delay, 0ms);
    }
}
@media (max-width: 480px) {
    body {
        font-size: x-small;
        padding:0;
    }
    .nav-links{
        gap: 0rem;
        padding: 0;
    }
    nav {
        flex-direction: column;
        padding: 0;
        right: 0;
        left: 0;
        gap: 0.2rem;
    }
    nav h2{
        padding-top: 1rem;
        padding-left: 0;
    }
    .nav-links li a{
        width: 1rem;
        white-space: nowrap;
    }
    .nav-links img{
        width: 1rem;
        height: 1rem;
    }
    
    .header{
        height: 60vh;
        overflow: hidden;
    }
    .header-container{
        padding-inline: 0;
        padding-top: 30vh;
    }
    .header-container svg{
        width: 4rem;
        height: 4rem;
        top: 14vh;
    }
    .header-links{
        margin-left: 1rem;
    }
    .header-links a img {
        width: 2rem; 
        height: 2rem;
    }

    .header-text{
        gap: 1rem;
    }
    .header-text h1{
        white-space: nowrap;
        font-size: 1.3rem;
    }
    .header-text h1::before{
        top: 50%;
    }
    .second-section{
        padding-inline: 1rem;
        gap: 10rem;
        margin-top: 2rem;
    }

    .technology-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about-me{
        padding-inline: 0;
        gap: 2rem;
    }
    .technologies{
        width: 80vw;
        margin-bottom: 1rem;
    }
    .technology img{
        width: 2rem;
        height: 2rem;
    }

    .about-me p{
        width: 90%;
    }

    .projects {
        align-items: space-between;
        gap: 3rem; 
        padding-inline: 1rem;
    }
    .project-section h2{
        margin-block: 3rem;
    }

    .project {
        width: 100%; /* Full bredd på projekten */
        padding: 0.5rem; /* Minska padding */
    }
    .school-projects{
        padding-inline: 1rem;
    }

    .header img {
        width: 15rem; /* Justera header-bildens storlek */
    }
    #text-highlight, #projectText{
        font-size: 1.5rem;
    }
    button{
        width: 8rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    form{
        padding: 0;
        gap:1rem;
    }
    form input,textarea{
        width: 8rem;
        padding: 0.5rem;
    }
    .contactForm{
        height: 60vh;
        padding-top: 2rem;
        padding-inline: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-information{
        padding: 0;
    }
    .contactForm h2{
        grid-column: 1;
        text-align: start;
        font-size: 2rem;
    }
    #text-highlight{
        font-size: 1.5rem;
    }
    .contactForm #text-highlight{
        font-size: 0.7rem;
    }
    .technologies-list li{
        font-size: 1.3rem;
    }

    .technologies-list li span::after{
        bottom: 0;
        width: 100%;
        height: 2.1rem;
        
    }
}

