.bio{
    display: flex;
}
.projects{
    display: flex;
    justify-content: center;
    gap: 4rem;

}
.project{
    border: 1px solid black;
    padding: 1rem;
}
.projectText{
    text-align: center;
}
.tech-stack{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.tech-stack img{
    width: 3rem;
    height: 3rem;
}
.links{
    display: flex;
    gap: 1rem;
}
.links img{
    width: 2rem;
    height: 2rem;
}